p.ex1 {
background-color: Yellow;
  border: 5px solid red; 
  padding: 35px;
}

p.ex2 {
  border: 1px solid red; 
  margin: 35px;
}

p.ex3 {
  border: 1px solid red; 
  margin: 35px
  
}
.menu-bar
{
	background: #8b7355;
	text-align: center;
} 	
	
.menu-bar ul
{
	display: inline-flex;
	list-type: none;
	color: #fff;
}

.menu-bar ul li
{
	width:120px;
	margin: 15px;
	padding: 5px;
}
 
.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
} 

.active, .menu-bar ul li:hover
{
	background: wheat;
	border-radius: 5px;	
} 

.menu-bar .fa
{
	margin-right: 8px;
}

.sub-menu-1
{
	display:none;
}

.menu-bar ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background-color: wheat;
	
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom:none;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover
{
	color: wheat;
} 