*{
    margin: 0;
    padding: 0;

}

  .header{
    font-family:'Trebuchet MS';
    text-align: left;
    font-size: 20pt;
    margin-top: 7%;
  }

  .Damaso{
    font-family: Trebuchet MS;
    font-size: 11pt;
    margin-left: 1%;
    margin-right: 1%;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 5%;
    text-indent: 3%;
  }

  
  .banner_image {
    background-image: url(pd.jpg);
    background-size: cover ;
    height:400px;
    width: 324px;
    float: left;
    margin-top: 7%;
    margin-right: 2%;
    margin-bottom: 0%;
    margin-left: 20%;
    filter: brightness(90%);
  }

  @media only screen and (max-width:700px){
    .banner_image{
      display: none;
    }
  
    .Damaso {
      margin: 10%;
      font-size: 15pt;
    }
  
    .header{
      text-align: center;
    }

  }