@font-face {
  font-family: Quiapo Free;
  src: url(fonts/Quiapo_Free[1].ttf);
}
@font-face {
  font-family: Photo Signature;
  src: url(fonts/Photograph\ Signature.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}
h1{
	margin-bottom: -20px;
	color: #ffffff;
	font-family: Quiapo Free;
	font-size: 60px;
	word-spacing: 25px;
	letter-spacing: 5px;
    margin: 200px auto 0;
    text-align: center;
}

p{
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 50px;
    letter-spacing: 3px;
	color: #dbdada;
  text-align: center;
    font-family: Photograph Signature;

}
body{
    margin: 100;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    font-weight: 400;
    background-image: url("bimg.jpg");
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #00000000;
    font-family: 'Poppins', sans-serif;   
}

.logo{
    color: rgb(209, 188, 68);
    text-transform: uppercase;
    font-family: Quiapo Free;
    letter-spacing: 3px;
    font-size: 25px;
}
    
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(228, 228, 228);
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 14px;

}

@media screen and (max-with:768px) {
  body{
    display: none;
  }
}

.nav-active{
    transform: translateX(0%);

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
nav ul{
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
  }
  nav ul li{
    float: none;
    display: inline-block;
    background: #0000006b;
    margin: 0 8px;
  }
  nav ul li a{
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 16px;
  }
  nav ul li a:hover{
    color: rgb(214, 196, 95);
    border-radius: 3px;
    box-shadow:  1 1 3px #d89a7e98,
                 1 1 6px #05bebe00;
  }
  nav ul ul li a:hover{
    box-shadow: none;
  }
  nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid rgba(0, 255, 255, 0);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,.icon,input{
    display: none;
  }
  .fa-plus{
    font-size: 15px;
    margin-left: 40px;
  }
  @media all and (max-width: 968px) {
    nav ul{
      margin-right: 0px;
      float: left;
    }
    nav .logo{
      padding-left: 30px;
      width: 100%;
    }
    .show + a, ul{
      display: none;
    }
    nav ul li,nav ul ul li{
      display: block;
      width: 100%;
    }
    nav ul li a:hover{
      box-shadow: none;
    }
    .show{
      display: block;
      color: white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
    }
    .show:hover{
      color: cyan;
    }
    .icon{
      display: block;
      color: white;
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }
    nav ul ul{
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
    }
    nav ul ul a{
      padding-left: 40px;
    }
    nav ul ul ul a{
      padding-left: 80px;
    }
    nav ul ul ul li{
      position: static;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
    nav ul ul li{
      border-bottom: 0px;
    }
    span.cancel:before{
      content: '\f00d';
    }
  }
  .content{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  header{
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
  }
  p{
    font-size: 30px;
    font-weight: 500;
  }


