
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
}

.pamagat{
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
    text-shadow: 3px 3px black;
    color: cornsilk;
}

.pamagat img{
    border: whitesmoke solid 2px;
    border-radius: 50%;
}

body{
    background-image: url(TEAM-BG.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position-x: unset;
    background-position-y: unset;

}

section
{
padding: 0 100px;
height: 100vh;
display: flex;
align-items: center;
flex-direction: row-reverse;
background-position: center;
background-size:contain;
}
.box
{
background-position: center;
max-width: 600px;
padding: 50px;
background: rgba(112, 110, 110, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin-right: 30em;
    border: wheat solid 1px;
}
.box p
{
margin: 0 0 20px;
padding: 0;
font-size: 18px;
text-transform: uppercase;
color: wheat;
}

.reflection h3{
        
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
    text-shadow: 3px 3px black;
    color: cornsilk;
}


.reflection{
    background-position: center;
    max-width: 800px;
    padding: 50px;
    background: rgba(85, 84, 84, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin-left: 32em;
    border: wheat solid 1px;
}

.reflection .refl p{ 
    text-align: center;
    margin: 0 0 20px;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: wheat;
}

.last{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    text-shadow: 2px 2px black;
    color: cornsilk;
    margin-top: 35px;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: 17px;
}

a.next:hover{
    background-color: transparent;
    box-shadow: 0 0 5px #33ffff,
                 0 0 5px #66ffff;
    border: cyan solid 1px;
    border-radius: 5px;
    color: cyan;
}


a.next{
    background-color: rgb(26, 206, 9);
    color: white;
    border-radius: 5px;
    border: solid white 2px;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 23px;

}


.wrapper{
    width: 100%;
    margin: 0 auto;
}

header{
    height: 100px;
    width: 100%;
    z-index: 12;
    text-align: left;
}

nav{
    float: left;
    line-height: 80px;
    width: 100%;
    background-color: #262626;
    position: fixed;
}

nav a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    font-size: 15px;
    color: #fff;
    display: inline;
    margin: 5px;
    padding: 10px;
}

nav a:hover{
   text-align: center;
    color: cyan;
    border: cyan solid 1px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    font-size: 15px;
    margin-right: 10px;
    display: inline;
    
}






